<div class="overline">
    {{name}}'s backlog of debts
</div>
<div class="big-num">
    {{kissCount[name]}}
</div>

<div class="buttons">
    <button class="btn btn-primary" ng-click="add(1)">+ 1</button>
    <button class="btn btn-primary" ng-click="add(5)">+ 5</button>
    <button class="btn btn-primary" ng-click="add(10)">+ 10</button>
    <button class="btn btn-primary" ng-click="add(15)">+ 15</button>
    <button class="btn btn-primary" ng-click="add(100)">+ 100</button>
</div>

<hr>

<div class="buttons">
    <button class="btn btn-danger" ng-click="remove(1)">- 1</button>
    <button class="btn btn-danger" ng-click="remove(5)">- 5</button>
    <button class="btn btn-danger" ng-click="remove(10)">- 10</button>
    <button class="btn btn-danger" ng-click="remove(15)">- 15</button>
    <button class="btn btn-danger" ng-click="remove(100)">- 100</button>
</div>
<hr>
<div class="buttons">
    <a href="#" class="btn btn-success">back</a>
</div>